.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 3.5rem;
  border-bottom: 0.0625rem solid oklch(from var(--border) l c h / 0.3);
  backdrop-filter: blur(0.625rem);
  .contents {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: var(--2xl);
    margin: 0 auto;
    padding: 0 1rem;
    @media ($media-screen-sm) {
      padding: 0 2rem;
    }
    .left,
    .right {
      position: relative;
      display: flex;
      justify-items: flex-end;
      align-items: center;
      gap: 0 0.5rem;
      height: 100%;
    }
    .left {
      .label {
        display: none;
        align-items: center;
        gap: 0 0.5rem;
        font-size: 1.125rem;
        font-weight: 700;

        @media ($media-screen-xs) {
          display: flex;
        }
      }
    }
  }
}
