$media-screen-2xs: 'min-width: 28rem';
$media-screen-xs: 'min-width: 32rem';
$media-screen-sm: 'min-width: 40rem';
$media-screen-md: 'min-width: 48rem';
$media-screen-lg: 'min-width: 64rem';
$media-screen-xl: 'min-width: 80rem';
$media-screen-2xl: 'min-width: 96rem';
$media-theme-dark: 'prefers-color-scheme: dark';
