html {
  .theme-switch {
    .trigger {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      transform: rotate(0deg);
      transition: transform 300ms ease-in-out;
      &:hover {
        transform: rotate(-20deg);
        transition: transform 300ms ease-in-out;
      }
    }
    .light,
    .dark {
      width: 1.2rem;
      height: 1.2rem;
      transition: all 200ms;
    }
    .light {
      transform: rotate(180deg) scale(1);
    }
    .dark {
      position: absolute;
      transform: rotate(180deg) scale(0);
    }
  }
  .theme-content {
    padding: 0.5rem;
    .menu {
      display: flex;
      gap: 0.5rem;
    }
  }
  &[class*='dark'] {
    .theme-switch {
      .light {
        transform: rotate(0deg) scale(0);
      }
      .dark {
        transform: rotate(0deg) scale(1);
      }
    }
  }
}
